body {
  background-color: #fbfbfb;
}

.lgr-header-elements {
  display: none;
}

select {
  font-size: 1rem;
}

.slr-header-elements {
  display: block;
}

.enter-small-menu {
  border-top: 1px solid #eee;
}

.search {
  padding: 0px 30px;
}

.small-search {
  padding-top: 5px;
}

.text-field {
  background-color: #f2f2f2;
  border: 0px;
}

.hamburguer-button {
  border: 0px;
}

header {
  background-color: #fff;
  font-size: 12px;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0px;
}
header nav.heading {
  flex-wrap: wrap;
  font-size: 14px;
  margin-left: -16px;
  margin-right: -16px;
}
header nav.heading .container .nav-toggler {
  border: 0px solid transparent !important;
  background-color: #eee;
}
header nav.heading #bag {
  font-size: 25px;
}
header form {
  display: block;
}
header .login {
  font-weight: bold;
  text-decoration: none !important;
  color: #333;
}
header .login:hover {
  color: #777;
}
header .special-offer {
  background-color: #444;
  color: #fff;
  padding: 1px;
  font-weight: bold;
  text-align: center;
}
header .special-offer p {
  margin-top: 10px;
}

.dropdown-menu.show {
  margin-top: -3px;
  border-color: #eee;
}

.menu-item .dropdown-menu {
  border-radius: 0px;
  padding: 0px;
}

#breadcrumb {
  padding: 5px;
  text-decoration: none;
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
#breadcrumb li {
  display: inline;
  font-size: 14px;
}
#breadcrumb li a {
  color: #777;
  text-decoration: none;
}

.content {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin-top: 10px;
}

.collapsed-section {
  font-size: 14px !important;
}

[data-icon] {
  font-size: 20px;
  color: #808080;
}

.product-header {
  display: flex;
  justify-content: space-between;
}

.page-section {
  margin-top: 20px;
}

.content-order {
  flex-direction: column-reverse;
}

.page-section img {
  width: 100%;
  max-width: 540px;
}

.product-images {
  padding-left: 0px;
  display: inline-flex;
}

.preview-images {
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.preview-images a {
  max-width: 100%;
  border-radius: 8px;
  border: 3px solid #eee;
  padding: 5px;
}

.preview-images.active a {
  border-color: #FF7676;
}

.preview-images a:hover {
  border: 3px solid #FFA7A7;
}

.product-info {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-name {
  font-size: 16px;
  font-weight: 400;
}

.review [data-icon] {
  font-size: 15px;
}

.review-general [data-icon] {
  font-size: 20px;
}

#stock-component {
  margin-top: 20px;
  margin-bottom: 20px;
}
#stock-component .progress {
  margin-bottom: 0px;
}
#stock-component .progress .time-limit {
  height: 5px;
  margin-bottom: 0px;
}
#stock-component .time-limit > .progress-bar {
  color: #FF7676;
  background-color: #FF7676;
}
#stock-component .stock-data {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #808080;
}

.time-remaining {
  color: #b12704;
}

.offer-large {
  display: none;
}

.product-price {
  font-size: 18px;
}

.price-outdated {
  color: #333;
  text-decoration: line-through;
  margin-right: 10px;
  background: aliceblue;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}

.actual-price {
  color: #333;
  font-weight: 500;
}

.primary-action {
  border-radius: 4px;
  background-color: #FF7676;
  color: #fff;
  padding: 10px 15px;
  font-size: 14px;
}

.primary-action:hover {
  background-color: #FFA7A7;
  color: #fff;
}

#main-actions button {
  width: 100%;
  margin-bottom: 10px;
}
#main-actions button.secundary-action {
  border-radius: 4px;
  border-color: #FF7676;
  color: #FF7676;
  padding: 10px 15px;
  font-size: 14px;
}
#main-actions button.secundary-action:hover {
  border-color: #FFA7A7;
  color: #FFA7A7;
}

#apply-btn {
  border-radius: 4px;
  border-color: #FF7676;
  color: #FF7676;
  padding: 10px 15px;
  font-size: 14px;
  width: 100%;
}

#apply-btn:hover {
  border-color: #FFA7A7;
  color: #FFA7A7;
}

.section-divider {
  background-color: #fff;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  height: 14px;
  margin-bottom: 7px;
  margin-top: 20px;
}

.section-divider hr {
  color: #c4c4c4;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 0;
  right: 0;
  border: 0;
  border-top: 1px solid #eee;
  z-index: 1;
}

.section-divider span {
  display: inline-block;
  padding: 0 10px;
  z-index: 2;
  position: absolute;
  left: 10px;
  background: #fff;
  color: #808080;
}

.input-component label {
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 3px;
}

.input-component input {
  height: 45px;
}

.input-component select {
  height: 45px;
  font-size: 1rem;
}

#color-selection {
  list-style-type: none;
  text-decoration: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
}
#color-selection .colorPicker a {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 2px solid #eee;
  border-radius: 50%;
}
#color-selection .colorPicker.active a {
  border-color: #FF7676;
}
#color-selection a[data-color=branco] {
  background-color: white;
}
#color-selection a[data-color=rosa] {
  background-color: lightpink;
}

.description {
  font-size: 10px;
  color: #808080;
}

.social {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  padding: 0px;
  width: 146px;
  justify-content: space-between;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  padding-top: 8px;
  background-color: #c4c4c4;
}

.social-media a {
  color: #999;
  width: 100%;
  height: 100%;
  text-align: center;
}

.quality img {
  width: 100%;
  height: auto;
}

.suggestion-section {
  margin-top: 20px;
}

.suggestion-section ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  padding: 0px;
  justify-content: space-between;
}

.suggestion-carrousel {
  overflow-x: auto;
}

.suggestion-carrousel-item {
  width: 200px;
}

.review-section {
  text-align: left;
}

#review-filter-section {
  text-align: center;
  margin-top: 20px;
}
#review-filter-section #review-filter {
  list-style-type: none;
  text-decoration: none;
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin: -5px;
  justify-content: center;
}
#review-filter-section #review-filter .star-filter {
  background-color: #eee;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px;
  white-space: nowrap;
  width: 100%;
}
#review-filter-section #review-filter .star-filter a {
  color: #333;
  text-decoration: none;
  list-style-type: none;
}
#review-filter-section #review-filter .star-filter a .star-filter-content {
  display: flex;
  justify-content: space-between;
}
#review-filter-section #review-filter .star-filter:hover a {
  color: #777;
}
#review-filter-section #review-filter .star-filter.active {
  background-color: #5c5c5c;
}
#review-filter-section #review-filter .star-filter.active a {
  color: white;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: #777;
  text-decoration: none;
  list-style-type: none;
}

#reviews {
  text-align: left;
  margin-top: 20px;
}
#reviews .review {
  margin-bottom: 15px;
  text-align: left;
  border-radius: 8px;
  border: 1px #eee solid;
  background-color: #fff;
  padding: 20px;
}
#reviews .review-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#reviews .review-footer .opinion {
  font-size: 14px;
}
#reviews .review-footer .opinion span {
  padding: 3px;
}
#reviews .review-footer .opinion span a {
  color: #777;
  text-decoration: none;
  list-style-type: none;
}
#reviews .review-footer .opinion span a:hover {
  color: #333;
}

.review-title h2 > span {
  font-weight: 400;
}

.product-review-period {
  color: #808080;
  white-space: nowrap;
  font-size: 12px;
}

.product-review-title {
  margin-top: 0px;
}

.product-review-heading {
  margin-bottom: 10px;
}

#user {
  display: flex;
}
#user .user-info {
  padding-left: 10px;
}
#user .user-image span {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  background-color: #eee;
  border-radius: 50%;
}

.review-title {
  text-align: left;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

#new-review {
  margin-top: 10px;
  text-align: center;
}

#new-review button {
  font-size: 12px;
  width: 100%;
}

#review-summary h2 {
  font-size: 18px;
  padding-right: 10px;
}

#more-reviews {
  text-align: center;
}

.newsletter {
  background-color: #F2F2F6;
  color: #808080;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
}

.newsletter [data-icon] {
  font-size: 30px;
}

.newsletter h4 {
  color: #333;
}

.newsletter > input[type=email] {
  min-width: 250px;
  max-width: 350px;
  padding-right: 100px;
  padding-left: 5px;
  padding-top: 4px;
  font-size: 12px;
}

.newsletter > input[type=submit] {
  margin-left: -100px;
  height: 28px;
  width: 100px;
  background: #444444;
  color: white;
  border: 0;
  font-size: 14px;
  -webkit-appearance: none;
}

footer {
  padding-top: 15px;
  font-size: 12px;
  text-align: center;
}

.footer p {
  padding-top: 10px;
}

@media (min-width: 768px) {
  #new-review {
    text-align: right;
  }

  #new-review button {
    width: inherit;
  }
}
@media (min-width: 992px) {
  .product-images {
    padding-left: 0px;
    display: block;
  }

  .content-order {
    flex-direction: row;
  }

  .review-note {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .menu-item a {
    align-items: center;
  }

  .menu-item a {
    position: relative;
    border-bottom: 3px solid transparent;
  }

  .menu-item > a:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 50%;
    width: 0%;
    height: 100%;
    opacity: 0;
    border-bottom: 3px solid #FF7676;
  }

  .menu-item > a:hover:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 1;
    border-bottom: 3px solid #FF7676;
    transform: translate(0%, 0px);
    transition-duration: 0.7s;
  }

  .lgr-header-elements {
    display: block;
  }

  .slr-header-elements {
    display: none;
  }

  .main-header input {
    width: 600px;
  }

  .offer-large {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
