.section-header{
	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brand-section{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.section-header input{
	width: 100%;
}
[data-icon]{
  font-size: 20px;
}
.product-image{
	text-align: center;
	margin-top: 20px;
}
.product-image img{
	width: 100%;
	max-width: 540px;
}
.product-name{
	font-size: 18px;
}
.review [data-icon]{
  font-size: 15px;
}
.progress+.time-limit{
	height: 5px;
	margin-bottom: 0px;
}

.time-limit > .progress-bar{
	color: #ec8ab3;
}
.stock-data{
	display: flex;
	justify-content: space-between;
}
.time-remaining{
	color: #b12704;
}
.special-offer{
	background-color: #444;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 10px;
}
.price-outdated{
	color: #333;
	text-decoration: line-through;
}
.actual-price{
	color: #b12704;
}
.model-select{
height: 45px;
}
.section-divider span{
	background-color: #fff;
}
.section-divider hr{
	color: #c4c4c4;
}

@media (min-width: 576px) {


}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}